#navbar-main{

    color:white;
    height: 10%;
    background: rgba(0,0,0,0.5);

}

body{

    background: linear-gradient(rgba(0, 0, 0, 0.1),
                                rgba(0, 0, 0, 0.1)),
                                 url("http://localhost/Home-Library/assets/img/2.jpeg");
    background-position: left;
    margin-top: 50px;
}

.navbar-brand{


    margin-top: 3%;
    font-size: 22px;
}

.navbar-brand:hover{
   
    border-bottom: 2px solid rgb(170, 170, 27);
    padding-bottom:2px;
   
   
}

footer{

    color:white;   
    position: absolute;
    position: fixed;
    bottom:0px;
    padding-left: 45%;
    background: rgba(0,0,0,0.5);
    width: 100%;
    
    

}



.card-header{

    text-align: center;
    

}

.card-footer{

}
#e-t {

    margin-top: 30px;
    margin-left: 37%;

}

#f1{
    padding-bottom: 20px;
}

#card-slika{

    height: 100%;
    width: 85%;
   margin-left: 3%;
    padding-left: 25px;
}

.card {

    height: 77%;
    margin-top:3%;
    margin-left: 25%;
   
}

h2{
    text-align: center;
    padding: 30px;
}

.table, td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 0;
       
    }
    
 table{

        margin-top: 50px;
    }

    #font-knjiga{
        font-size: 14pt;
    }

    #btn-reg{

        margin-left: 64%;
    }

    #href-1 {

        color:black;
    }

    #href-1:hover{
        color:rgb(4, 4, 102);
    }